.instance-list-wrapper {
  margin-top: 1rem;

  .instance-list-create-form-wrapper {
    &.create-form-closed {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .instance-list-create-form-container {
      border-radius: 25px;
      border: 2px solid #73ad21;
      padding: 2rem;
    }

    .instance-list-create-button {
      margin-right: 2rem;
    }
  }

  .instance-list-content-wrapper {
    padding: 2rem;
  }

  .table {
    tr:hover {
      background-color: lightgray;
    }

    tr {
      cursor: pointer;
    }
  }
}
