NavLink:hover {
  background-color: lightgray;
}

.layout-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .layout-side-nav {
    display: flex;
    min-width: 12rem;
    flex-direction: column;
    border-right: solid 3px darkslategrey;
    overflow-y: auto;
  }

  .layout-nav-title {
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    margin-bottom: 0.5rem;

    .material-icons {
      font-size: 3rem;
    }
  }

  .layout-right-block {
    display: block;
    width: 100%;

    .layout-title {
      margin-left: 3rem;
    }

    .layout-main-content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      .layout-main-content-padding {
        margin: 1rem 1rem 14rem 1rem;
      }

      &.default-colours {
        background-color: white;
        color: black;
      }
    }
  }

  .layout-link-list {
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

    .layout-link-icon {
      width: 2rem;
    }

    a {
      width: 100%;
      height: 3rem;
      border-bottom: solid 2px grey;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
    }

    a:hover {
      background-color: lightgray;
    }
  }

  .layout-top-block {
    width: 100%;
    border-bottom: solid 3px darkslategrey;
    height: 6rem;
    display: flex;
    align-items: flex-end;
  }

  .layout-left-block-margin {
    margin: 1rem;
  }
}

// prevent scrollbar on main page
html {
  overflow: hidden;
}

.material-icons {
  padding: 0.1rem;
  font-style: normal;
}

button,
button.btn {
  display: flex;
  align-items: center;
}

.main-content-margins {
  margin: 0 2rem;
}
