NavLink:hover {
  background-color: lightgray;
}

.layout-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .layout-side-nav {
    display: flex;
    min-width: 12rem;
    flex-direction: column;
    border-right: solid 3px darkslategrey;
  }

  .layout-right-block {
    display: block;
    width: 100%;
    .layout-main-content {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      .layout-main-content-padding {
        margin: 1rem 1rem 14rem 1rem;
      }
    }
  }

  .layout-link-list {
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
      height: 3rem;
      border-bottom: solid 2px grey;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    a:hover {
      background-color: lightgray;
    }
  }

  .layout-top-block {
    width: 100%;
    border-bottom: solid 3px darkslategrey;
    height: 6rem;
    display: flex;
    align-items: flex-end;
    .layout-title {
      margin-left: 3rem;
    }
  }

  .layout-nav-header {
    margin-left: 1rem;
  }

  .layout-left-block-margin {
    margin: 1rem;
  }
}
